<h1>Enviar Pergunta</h1>

<%= form_with(model: @question, url: product_batch_questions_path(@product_batch), method: :post) do |form| %>
  <%= form.label :content, "Pergunta" %>
  <%= form.text_area :content, rows: 4 %>
  <%= form.submit "Enviar" %>
<% end %>
