<div class="h1">
  <h2>Enviar Pergunta</h2>
</div>

<div class="question-box">
  <%= form_with(model: @question, url: product_batch_questions_path(@product_batch), method: :post) do |form| %>
  <div class="h1">
      <h3><%= form.label :content, "Pergunta" %></h3>
    <div class="input-question">
      <%= form.text_area :content, rows: 18 %>
    </div>
    <div class="submit">
      <%= form.submit "Enviar" %>
    </div>
  <% end %>
  </div>
</div>
