<% if @favorites.any? %>

  <div class="card-container">
    <% @favorites.each do |favorite| %>
        <div class="row">
          <div class="card-batch">
          <div class="card">
            <div class="link">
              <strong>Código:<%= link_to favorite.product_batch.code, product_batch_path(favorite.product_batch.id) %></strong>
              <strong>Estatus:</strong> <%= favorite.product_batch.present_or_future?%><br>
              <strong>Valor:</strong> R$<%= favorite.product_batch.bids.last&.value || favorite.product_batch.minimum_value %><br>
            </div>
            <div class="submit">
              <%= button_to 'Desfavoritar', favorite_path(favorite), method: :delete, id: favorite.id %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="h1"> 
    <h3>Lista de Favoritos está vazia</h3>
  </div>
<% end %>