<div class="h1">
<h1>Todos os Lotes</h1>
</div>
<div class="card-container">
  <% @product_batches.each do |batch|  %>
    <div class="row">
      <div class="card-batch">
        <h2>Código do lote:</h2>
        <strong><%= link_to batch.code, product_batch_path(batch.id) %></strong><br/>
        <h4>Status: <%= batch.present_or_future? %></h4>
        <% batch.products.each do |prod| %>
          |<%= link_to prod.name, product_path(prod.id) %>|
        <% end %>
      </div>
    </div>
  <% end %>
</div>