<h1>Perguntas em Aberto</h1>

<% if @questions.any? %>
  <% #binding.pry %>
  <div>  
    <% @questions.each do |q| %>
    <div>
      <strong>Usuário:</strong> <%= q.user.email %>
    </div>
    <div>
      <strong>Lote:</strong> <%= q.product_batch.code %>
    </div>
    <div>
      <strong>Dúvida:</strong>
      <%= q.content %>
      <p> 
    </div>
  <% end %>
</div>
<% else %>
<p>Sem perguntas a serem respondidas</p>
  <% #binding.pry %>
<% end %>


