<h2>Lotes Cadastrados</h2>
<% if @product_batches.any? %>

  <% @product_batches.each do |batch| %>
    <div>
      <strong>Código do lote:</strong> </dl><%= link_to batch.code, product_batch_path(batch.id) %>
    </div>
  <% end %>
<% else %>
  <p>Não existem lotes cadastrados</p>
<% end %>