<h2>Resultado dos Vencedores</h2>

<% @product_batches.each do |batch| %>
  <% if batch.bids.any? %>
    <% winning_bid = batch.bids.last %>
    <p>
      Código do Lote: <%= batch.code %>
      <br>
      Email do Vencedor: <%= winning_bid.user.email %>
    </p>
  <% end %>
<% end %>

<% if @product_batches.none? { |batch| batch.bids.any? } %>
  <p>Sem lotes vencedores</p>
<% end %>