<h2>Resultado dos Vencedores</h2>

<% @product_batches.each do |batch| %>
  <% if batch.bids.any? %>
  <div>
    <% winning_bid = batch.bids.last %>
    <strong>Código do Lote: </strong> <%= link_to batch.code, product_batch_path(batch.id) %> | 
  <% end %>
<% end %>

<% if @product_batches.none? { |batch| batch.bids.any? } %>
  <p>Sem lotes vencedores</p>
<% end %>