/*Formato dos cards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  bottom: 25px;
  top: 35px;
  margin-bottom: auto;
}

.card-row {
  display: flex;
  justify-content: space-between; 
  width: auto;
  top: 10px;
  bottom: 15px;
}

.card {
  margin: 10px;
  width: 130px;
  bottom: 20px;
  transition: all 0.3s ease-out;
  text-align: center;
}

.card-batch {
  border-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px black;
  padding: 10px;
  margin: 5px;
  width: auto;
  transition: all 0.3s ease-out;
  bottom: 15px;
}


.show-batch {
  background-color: aliceblue;
  border-color: rgb(68, 66, 66);
  border-radius: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
  width: auto;
  height: auto;
  word-wrap: break-word; 
}

.card-show-products {
  border-color: black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px black;
  padding: 10px;
  margin: 5px;
  width: 120px;
  transition: all 0.3s ease-out;
  bottom: 15px;
}

.question-box {
  margin: auto;
  position: absolute;
  text-align: center;
  background-color: lightgray;
  border-color: rgb(68, 66, 66);
  border-radius: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  width: 400px;
  height: 400px;
  word-wrap: break-word; 
  left: 0;
  right: 0;
}

.answer-box {
  margin: auto;
  position: absolute;
  text-align: center;
  background-color: lightgray;
  border-color: rgb(68, 66, 66);
  border-radius: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  width: 400px;
  height: 400px;
  word-wrap: break-word; 
  left: 0;
  right: 0;
}


.input-question {
  font-size: 16px;
  font-weight: bold;
}







