.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-row {
  display: flex;
  justify-content: space-between; 
  width: 48%;
  margin-bottom: 20px;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 130px;
  transition: all 0.3s ease-out;
}

.card-batch {
  border-color: black;
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px black;
  padding: 30px;
  margin: 20px;
  width: 145px;
  transition: all 0.3s ease-out;
}

.h1 {
  text-align: center;
}

.card-product {
  text-align: center;
}

.header-fixed {
  text-align: center;
  border-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #d1caca;
  color: #fff;
  padding: 10px;
  z-index: 1000;
}

.login {
  border-color: black;
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px black;
  padding: 10px;
  margin: 10px;
  width: 150px;
}

.login-fixed {
  text-align: center;
  border-color: black;
  position: fixed;
  background-color: #d1caca;
  color: #fff;
  z-index: 1000;
}

.links {
  margin-left: 20px;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 7px 7px 13px 0px black;
}

.form {
  display: inline-block;
  margin: auto;
  border-color: black;
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px black;
  padding: 10px;
  margin: 10px;
  width: 200px;
}