.body {
  background-color: gray;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
}

.card-row {
  display: flex;
  justify-content: space-between; 
  width: auto;
  margin-bottom: 20px;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 130px;
  transition: all 0.3s ease-out;
}

.card-batch {
  border-color: black;
  border-radius: 10px;
  box-shadow: 7px 7px 13px 0px black;
  padding: 30px;
  margin: auto;
  width: auto;
  transition: all 0.3s ease-out;
}

.h1 {
  text-align: center;
}

.card-product {
  text-align: center;
}

.header-fixed {
  border-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #d1caca;
  color: #fff;
  padding: 10px;
  z-index: 1000;
}

.header-style {
  text-align: center;
}



.login {
  text-align: center;
  border-color: black;
  width: auto;
  position: fixed;
  top: 35px;
  margin-left: 15px;
}

.user-info {
  text-align: center;
  color: black;
  position: fixed;
  top: 15px;
  right: 20px;
  margin-right: 35px ;
}

.buttom-exit {
  text-align: center;
  position: fixed;
  top: 35px;
  right: 55px;
}

.user-space {
  text-align: center;
  position: fixed;
  top: 90px;
  left: 20px;
  margin-right: 35px ;
}

.login-fixed {
  left: 20px;
  text-align: center;
  border-color: black;
  position: absolute;
  background-color: #d1caca;
  color: #fff;
  z-index: 2000;
}

.links {
  margin-left: 20px;
}

.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 7px 7px 13px 0px black;
}

.content {
  width: auto;
  margin-top: 90px; 
  padding: 20px;
}

.form {
  width: auto;
  margin: 0 auto;
  padding: 20px; 
  background-color: #f0f0f0;
  border: 2px solid black; 
  border-radius: 10px;
}

.flash-system {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}

.notice {
  color: green;
}

.alert {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-text {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.date {
  width:auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.valor {
  color: #090909;
  font-weight: bold;
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.submit {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.upload-button {
  font-weight: bold;
  color: black; 
  padding: 10px 15px;
  border: 1px; 
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.search-box {
  font-weight: bold;
  font-size: 16px;
  color: black;
  position: fixed;
  top: 10px;
  left: 20px;
}

.admin-space {
  text-align: left;
  top: 5px;
  position: fixed;
}