<div class="h1">
<h2>Produtos Cadastrados</h2>
</div>
<div class="card-container">
  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class='row'>
        <div class="card-product">
          <strong>Produto:</strong> 
          <%= link_to product.name, product_path(product.id) %><br/>
          <%= image_tag url_for(product.photo), class: 'card' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Sem produtos cadastrados.</p>
  <% end %>
</div>
