<div class="h1">
  <h2>Produtos Cadastrados</h2>
</div>

<% if @products.any? %>
  <div class="card-container">
      <% @products.each do |product| %>
        <div class="row">
          <div class="card-batch">
            <strong>Produto:</strong> 
            <%= link_to product.name, product_path(product.id) %><br/>
            <%= image_tag url_for(product.photo), class: 'card' %>
          </div>
        </div>
      <% end %>
  </div>
<% else %>
  <p>Sem produtos cadastrados.</p>
<% end %>
