<div class="h1">
  <h2>Produtos Cadastrados</h2>
</div>

<% if @products.any? %>
  <div class="card-container">
      <% @products.each do |product| %>
        <div class="card-row">
          <div class="card-batch">
            <strong>Produto:</strong> 
            <%= link_to product.name, product_path(product.id) %><br/>
            <%= image_tag url_for(product.photo), class: 'card' %>
          </div>
        </div>
      <% end %>
  </div>
<% else %>
  <p>Sem produtos cadastrados.</p>
<% end %>

<% if @product_models.any? %>
  <div class="card-container">
    <% @product_models.each do |pm| %>
      <div class="card-row">
        <div class="card-batch">
          <strong>Produto:</strong> 
          <%= link_to pm["name"], product_model_path(pm["id"]) %><br/>
        </div>
      </div>
  </div>
  <% end %>
<% end %>