<h2>Produtos Cadastrados</h2>
<%= link_to 'Cadastrar Produto', new_product_path  %>

<% if @products.any? %>
  <% @products.each do |product| %>
    <div>
      <strong>Produto:</strong> <%= link_to product.name, product_path(product.id) %>
    </div>
  <% end %>
<% else %>
  <p>Sem produtos cadastrados.</p>
<% end %>
